body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ui.menu:first-child {
  margin-top: 1rem;
}

.ui.menu .item>img:not(.ui) {
  width: 8em;
}

.ui.pointing.dropdown>.menu {
  margin-top: 2rem;
}

.ui.menu .right.menu .dropdown:last-child .menu {
  right: -17px;
}

.ui.dropdown .menu {
  min-width: 156.94px;
}